<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件间传值</title>
    <script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>


</head>

<body>

    <!-- 我们想实现这样一个功能点击删除效果 -->

    <!-- 先来思考一下如何给每一个子组件都添加一个点击事件？我们把事件方法写到父组件的 methods 中，此时点击子组件，会发现根本触发不了，是因为子组件的事件方法要写在子组件里，所以我们把事件方法放到子组件中的 methods 试一下： -->

    <!-- <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="btnClick">添加</button>
        <ul>
            <todo-list v-bind:content="item" v-for="item in list" @click="childClickFun">
            </todo-list>
        </ul>
    </div>
    <script>
        var TodoList = {
            props: ['content'],
            template: "<li>{{content}}</li>",
            methods: {
                childClickFun: function () {
                    console.loh("child");
                }
            }
        };
        var app = new Vue({
            el: '#app',
            components: {
                TodoList: TodoList
            },
            data: {
                list: [],
                inputValue: ''
            },
            methods: {
                btnClick: function () {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            }
        });
    </script> -->

    <!-- 打开页面，点击子组件，发现有报错：“childClickFun”没有在实例上定义，而是在呈现期间引用。 -->

    <!-- ![](https://upload-images.jianshu.io/upload_images/9373308-98795b7972aa8690.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)
 -->

    <!-- 所以子组件的方法应该写在子组件的 methods 中，父组件的方法就应该写到父组件中。我们知道，父组件向子组件通过 props 传值，那子组件如何向父组件传值呢？子组件可以通过 $emit() 向父组件传值，我们来试一下： -->

    <!-- <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="btnClick">添加</button>
        <ul>
            <todo-list v-bind:content="item" v-bind:index="index" v-for="(item,index) in list" @click="clickFun">
            </todo-list>
        </ul>
    </div>
    <script>
        var TodoList = {
            props: ['content','index'],
            template: "<li @click='childClickFun'>{{content}}</li>",
            methods: {
                childClickFun: function () {
                    this.$emit("click",this.index);
                }
            }
        };
        var app = new Vue({
            el: '#app',
            components: {
                TodoList: TodoList
            },
            data: {
                list: [],
                inputValue: ''
            },
            methods: {
                btnClick: function () {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                },
                clickFun:function(index) {
                    console.log(index);
                }
            }
        });
    </script> -->

    <!-- 上面代码，我在子组件中定义了一个 childClickFun，在父组件中定义了一个 clickFun。我们先给子组件 todo-list 设置一个属性 index，这个 index 是在 v-for 循环中添加的一个循环项，这样设置完成后，还需要在子组件中通过 props 接收一下。接着在子组件的 childClickFun 中通过 this.$emit() 向外触发事件，这个 $emit() 中第一个参数传递触发的事件，第二个参数点击的位置，也就是 this.index，然后在子组件的 template 中添加这个点击事件（注意：$emit() 中传入的事件名称要和 template 中 @ 后面的名称一致，可以设置其他名字） 。最后我们在父组件的 clickFun 中传一个参数 index，这个 index 就是当前点击的元素的位置，我们打开页面看一下： -->

    <!-- ![](https://upload-images.jianshu.io/upload_images/9373308-e40a3148d41f61ca.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240)
 -->

    <!-- 现在弄明白了父子组件之间的传值问题，就可以实现最初我们想要实现的那个点击当前元素删除的功能了。其实现在只需要在 clickFun 中使用 splice 方法删除 list 数组中当前位置的那个元素就可以了： -->
    <!-- <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="btnClick">添加</button>
        <ul>
            <todo-list v-bind:content="item" v-bind:index="index" v-for="(item,index) in list" @click="clickFun">
            </todo-list>
        </ul>
    </div>
    <script>
        var TodoList = {
            props: ['content', 'index'],
            template: "<li @click='childClickFun'>{{content}}</li>",
            methods: {
                childClickFun: function () {
                    this.$emit("click", this.index);
                }
            }
        };
        var app = new Vue({
            el: '#app',
            components: {
                TodoList: TodoList
            },
            data: {
                list: [],
                inputValue: ''
            },
            methods: {
                btnClick: function () {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                },
                clickFun: function (index) {
                    this.list.splice(index, 1);
                }
            }
        });
    </script> -->


    <!-- <div id="app">
        <input type="text" v-model="inputValue">
        <button v-on:click="btnClick">添加</button>
        <ul>
            <todo-list v-bind:content="item" v-for="item in list" @click="childClickFun">
            </todo-list>
        </ul>
    </div>
    <script>
        var TodoList = {
            props: ['content'],
            template: "<li>{{content}}</li>",
            methods: {
                childClickFun: function () {
                    console.loh("child");
                }
            }
        };
        var app = new Vue({
            el: '#app',
            components: {
                TodoList: TodoList
            },
            data: {
                list: [],
                inputValue: ''
            },
            methods: {
                btnClick: function () {
                    this.list.push(this.inputValue);
                    this.inputValue = '';
                }
            }
        });
    </script> -->

    <!-- <div id="app">
        <div>{{fullName}}</div>
    </div>
    <script>
        Vue.component("child", {
            template: "<div>Hello</div>"
        })
        var app = new Vue({
            el: "#app",
            data :{
                firstName : "Liu",
                lastName : "Zhenghe"
            },
            computed: {
                fullName : {
                    get : function(){
                        return this.firstName + " " + this.lastName
                    },
                    set : function(value){
                        console.log(value);
                        var arr = value.split(" ");
                        this.firstName = arr[0],
                        this.lastName = arr[1]
                    }
                }
            },
        })
    </script> -->



    <!-- <div id="app">
        <div :style="[styleObj,{fontSize:'24px'},{fontWeight:'900'}]" @click="toggleFun">Hello</div>
    </div>
    <script>
    var app = new Vue({
        el : "#app",
        data :{
            styleObj : {
                color : "red"
            }
        },
        methods : {
            toggleFun : function(){
                this.styleObj.color = this.styleObj.color === "red" ? "" : "red"
            }
        }
    })
    </script> -->

    <!-- <div id="app">
        <div v-if="show === 'a'">a</div>
        <div v-else-if="show === 'b'">b</div>
        <div v-else>other</div>
    </div>
    <script>
    var app = new Vue({
        el : "#app",
        data : {
            show : "b"
        }
    })
    </script> -->

    <!-- <div id="app">
        <div v-if="show">
            用户名：<input type="text" key="name">
        </div>
        <div v-else>
            邮箱：<input type="text" key="email">
        </div>
    </div>
    <script>
        var app = new Vue({
            el: "#app",
            data: {
                show: true
            }
        })
    </script> -->

    <!-- <div id="app">
        <ul>
            <li v-for="(item,index) of list">{{item}}---{{index}}</li>
        </ul>
    </div>
    <script>
    var app = new Vue({
        el : "#app",
        data : {
            list : [1,2,3,4]
        }
    })
    </script> -->

    <!-- <div id="app">
        <div v-for="(item) of list">{{item}}</div>
    </div>

    <script>
        var app = new Vue({
            el: "#app",
            data: {
                list: [
                    1,2,3,4,5
                ]
            }
        })
    </script> -->

    <!-- <div id="app">
        <table>
            <tr is="row"></tr>
            <tr is="row"></tr>
            <tr is="row"></tr>
        </table>
    </div>
    <script>
        Vue.component("row", {
            template: "<tr><td>123</td></tr>"
        })
        var app = new Vue({
            el: "#app"
        })
    </script> -->

    <!-- <div id="app">
        <test></test>
    </div>
    <script>
        Vue.component("test", {
            template: "<h4>{{msg}}</h4>",
            data: function () {
                return {
                    msg: "hello"
                }
            }
        })
        var app = new Vue({
            el: "#app"
        })
    </script> -->


    <!-- <div id="app">
        <div ref="hello" @click="clickFun">Hello</div>
        <div ref="world">World</div>
    </div>
    <script>
        Vue.component("child", {
            template: "<div></div>"
        })
        var app = new Vue({
            el: "#app",
            methods: {
                clickFun: function () {
                    console.log(this.$refs.hello)
                }
            }
        })
    </script> -->


    <!-- <div id="app">
        <counter ref="one" @change="clickFun"></counter>
        <counter ref="two" @change="clickFun"></counter>
        <div>{{total}}</div>
    </div>
    <script>
        Vue.component("counter", {
            template: "<div @click='childClickFun'>{{number}}</div>",
            data: function () {
                return {
                    number: 0
                }
            },
            methods: {
                childClickFun: function () {
                    this.number += 1;
                    this.$emit("change")
                }
            }
        })
        var app = new Vue({
            el: "#app",
            data: {
                total: 0
            },
            methods: {
                clickFun: function () {
                    this.total = this.$refs.one.number + this.$refs.two.number
                }
            }
        })
    </script> -->



    <!-- <div id="app">
        <counter :count="1" @change="changeFun"></counter>
        <counter :count="2" @change="changeFun"></counter>
        <div>{{total}}</div>
    </div>
    <script>
        var counter = {
            props: ['count'],
            template: "<div @click='clickFun'>{{number}}</div>",
            data: function () {
                return {
                    number: this.count
                }
            },
            methods: {
                clickFun: function () {
                    this.number += 2;
                    this.$emit("change", 2)
                }
            }
        }
        var app = new Vue({
            el: "#app",
            data: {
                total: 3
            },
            components: {
                counter: counter
            },
            methods: {
                changeFun: function (step) {
                    console.log(step)
                    this.total += step
                }
            }
        })
    </script> -->


    <!-- <div id="app">
        <child content="rrrrrrr"></child>
    </div>
    <script>
        var child = {
            // props: {
            //     content: {
            //         type : String,
            //         required : false,
            //         default : "default value",
            //         validator: function(value){
            //             return (value.length > 5)
            //         }
            //     }
            // },
            template: "<div>hello</div>"
        }
        var app = new Vue({
            el: "#app",
            components: {
                child
            }
        })
    </script> -->


    <!-- <div id="app">
        <child @click.native="clickFun"></child>
    </div>
    <script>
        Vue.component("child", {
            template: "<div>child</div>"
        })
        var app = new Vue({
            el: "#app",
            methods: {
                clickFun: function () {
                    console.log('click')
                }
            }
        })
    </script> -->

    <!-- <div id="app">
        <child content="hello"></child>
        <child content="world"></child>
    </div>
    <script>
        Vue.prototype.bus = new Vue()
        Vue.component("child", {
            props: ['content'],
            template: "<div @click='childClickFun'>{{childContent}}</div>",
            data : function(){
                return {
                    childContent : this.content
                }
            },
            methods: {
                childClickFun: function () {
                    this.bus.$emit("change", this.childContent)
                }
            },
            mounted: function () {
                var _this = this
                this.bus.$on("change", function (value) {
                    console.log(value);
                    _this.childContent = value
                })
            }
        })
        var app = new Vue({
            el: "#app"
        })
    </script> -->


    <!-- <div id="app">
        <child content="hello"></child>
        <child content="world"></child>
    </div>
    <script>
        Vue.prototype.bus = new Vue();
        Vue.component("child", {
            props: ["content"],
            data: function () {
                return {
                    newContent: this.content
                }
            },
            template: "<div @click='childClickFun'>{{newContent}}</div>",
            methods: {
                childClickFun: function () {
                    // console.log(this.content);
                    this.bus.$emit("change", this.newContent);
                }
            },
            mounted: function () {
                var _this = this
                this.bus.$on("change", function (value) {
                    _this.newContent = value
                })
            }
        })
        var app = new Vue({
            el: "#app"
        })
    </script> -->


    <!-- <div id="app">
        <child>
            <div>test</div>
        </child>
    </div>
    <script>
        Vue.component("child", {
            template: "<div><p>hello</p><slot>默认内容</slot></div>"
        })
        var app = new Vue({
            el: "#app"
        })
    </script> -->

    <!--
    <div id="app">
        <body-content>
            <div slot="header">header</div>
            <div slot="footer">footer</div>
        </body-content>
    </div>
    <script>
        Vue.component("body-content", {
            template: `
            <div>
            <slot name='header'></slot>
            <div>body</div>
            <slot name='footer'></slot>
            </div>
        `
        })
        var app = new Vue({
            el: "#app"
        })
    </script> -->


    <!-- <div id="app">
        <child>
            <template slot-scope='props'>
                <li>{{props.item}}</li>
            </template>
        </child>
    </div>
    <script>
    Vue.component("child",{
        template : `
            <div>
                <ul>
                    <slot v-for='item of list' :item='item'>{{item}}</slot>
                </ul>
            </div>
        `,
        data : function(){
            return {
                list : [1,2,3,4]
            }
        }
    })
    var app = new Vue({
        el : "#app"
    })
    </script> -->


    <!-- <div id="app">
        <child>
            <template slot-scope="props">
                <li>{{props.item}}</li>
            </template>
        </child>
    </div>
    <script>
        Vue.component("child", {
            template: "<ul><slot v-for='item of list' :item='item'>{{item}}</slot></ul>",
            data: function () {
                return {
                    list: [1, 2, 3, 4]
                }
            }
        })
        var app = new Vue({
            el: "#app"
        })
    </script> -->


    <div id="app">
        <button @click="toggleFun">toggle</button>
        <component :is="show"></component>
    </div>
    <script>
        Vue.component("child1", {
            template: "<div v-once>child1</div>"
        })
        Vue.component("child2", {
            template: "<div v-once>child2</div>"
        })
        var app = new Vue({
            el: "#app",
            data: {
                show: "child1"
            },
            methods: {
                toggleFun: function () {
                    this.show = this.show === "child1" ? "child2" : "child1";
                }
            }
        })
    </script>








</body>

</html>